.container{
    height: 800px;
    width: 100%;
    border: 2px solid black;
    background-image: url("https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.form{
    height: 500px;
    width: 700px;
    margin: auto;
    padding: 20px;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(4, 1fr);
}
.items2{
    grid-column: 1/ span 4;
  
}
.items3{
    grid-column: 1/ span 2;
  
}
.items4{
    grid-column: 3/ span 2 ;
}
.items5{
    grid-column: 1/ span 4 ;
  
}
.items6{
    grid-column: 1/ span 4 ;
  
}
.items7{
    grid-column: 1/ span 1 ;
  
}
.items8{
    grid-column: 2/ span 1 ;
    
}
.items9{
    grid-column: 3/ span 2 ;
    
}
.items10{
    grid-column: 1/ span 4 ;
}

