.container{
    width: 500px;
    height: 250px;
    border: 2px solid black;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    padding: 30px 15px 30px 15px;
}
.item{
    border: 2px solid black;
    background-color: rgb(54, 53, 53);
    border-radius: 5px;
    color: white;
}
.item1{
    grid-column: 1/span 2;
}
.item2{
    grid-column-start:  3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 2px solid;
    

}