.container{
    width: 500px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 20px 15px 20px 15px;
    row-gap: 5px;
    column-gap: 5px;
}
.items{
    border: 2px solid black;
    background-color: rgb(54, 53, 53);
    border-radius: 3px;
    color: white;
}
.item1{
    grid-column: 1/span 2;
}
.item2{
    grid-column: 1/span 2;
    grid-row-start: 3;
    grid-row-end: 5;
}
.item3{
    grid-column: 1/span 3;
}